/* 키프레임 애니메이션 */
body{
  margin: 50px;
}

/* 키프레임 규칙 */
@keyframes zoom {
  from{
    width: 100px;
    background: yellow;
  }

  100%{
    width: 200px;
    background: pink;
  }
}

.like{
  border: 5px solid currentColor;
  padding: 10px;
  width: 100px;
  /* animation-name: zoom;
  animation-duration: 5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-play-state: paused; */
  animation: zoom 5s 1s 3 alternate ease-in-out forwards running;
}
  
