body {
  margin: 50px;
}
/* 컴포넌트 스타일링 */
/* 텍스트 로고 */
.text-logo{
  background: yellow;
  display: block;

  .text{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
  }
}





/* 검색 바 (폼 스타일링) */