/* 스크롤이 없는 100% 레이아웃 */
body{
  block-size: 100%;
  /* min-height: 100%; */
  display: flex;
  flex-flow: row nowrap;
}

.container{
  background: yellow;
  inline-size: 100%;
  block-size: 100%;
  height: 600px;
  display: flex;
  flex-flow: column nowrap;

  .header, .navigation, .sidebar, .main-conent, .footer{
    padding: 1em;
  }

  .wrapper{
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
  }

  .sidebar{
    inline-size: 250px;
    background: pink;
  }

  .main-content{
    background: lime;
    flex-grow: 1;
  }
}